<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_63350af1b769b39f4e46b5b4606ee661 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_63350af1b769b39f4e46b5b4606ee661" ></div>
        
</body>
<script>
    
    
            var map_63350af1b769b39f4e46b5b4606ee661 = L.map(
                "map_63350af1b769b39f4e46b5b4606ee661",
                {
                    center: [61.77816, 34.36404],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_51d6564c179c2636b901b040a295f384 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_51d6564c179c2636b901b040a295f384.addTo(map_63350af1b769b39f4e46b5b4606ee661);
        
    
            var marker_c9e7c9a03e70cdd0f8534470e6a6e653 = L.marker(
                [61.782652, 34.39907],
                {"collapsed": true}
            ).addTo(map_63350af1b769b39f4e46b5b4606ee661);
        
    
        var popup_300378aa8f025b40f139d5ee0f5ffa24 = L.popup({"maxWidth": "100%"});

        
            
                var html_703053786948956d43ed1bfc36db373e = $(`<div id="html_703053786948956d43ed1bfc36db373e" style="width: 100.0%; height: 100.0%;">номер вк 43, давление: 5.6 деффекты: tytyty, ответственный: Горбачёв</div>`)[0];
                popup_300378aa8f025b40f139d5ee0f5ffa24.setContent(html_703053786948956d43ed1bfc36db373e);
            
        

        marker_c9e7c9a03e70cdd0f8534470e6a6e653.bindPopup(popup_300378aa8f025b40f139d5ee0f5ffa24)
        ;

        
    
    
            tile_layer_51d6564c179c2636b901b040a295f384.addTo(map_63350af1b769b39f4e46b5b4606ee661);
        
    
            var marker_8b0e4d802472a67967f295260f622a87 = L.marker(
                [61.782652, 34.39907],
                {}
            ).addTo(map_63350af1b769b39f4e46b5b4606ee661);
        
    
        var popup_528416bf16d058a2df487b259d437990 = L.popup({"maxWidth": "100%"});

        
            
                var html_b5a227868bbfce02291c94061fe91da2 = $(`<div id="html_b5a227868bbfce02291c94061fe91da2" style="width: 100.0%; height: 100.0%;">номер вк 43, давление: 5.6 деффекты: tytyty, ответственный: Горбачёв</div>`)[0];
                popup_528416bf16d058a2df487b259d437990.setContent(html_b5a227868bbfce02291c94061fe91da2);
            
        

        marker_8b0e4d802472a67967f295260f622a87.bindPopup(popup_528416bf16d058a2df487b259d437990)
        ;

        
    
</script>
</html>